#s-368075a4-bfad-46c2-b821-38bba095edc1 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=23);
  filter: alpha(opacity=23);
  -ms-transform: rotate(0.0deg);
}
#s-368075a4-bfad-46c2-b821-38bba095edc1 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-368075a4-bfad-46c2-b821-38bba095edc1 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-368075a4-bfad-46c2-b821-38bba095edc1 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-368075a4-bfad-46c2-b821-38bba095edc1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}