#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Rich_text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Image_19 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Line_3 {
  rotation: 270.0;
  margin-left: 13px;
  margin-top: -14px;
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Rectangle_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Image_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Rich_text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Image_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}