#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Rich_text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 146px;
  height: 39px;
  -ms-transform: rotate(0.0deg);
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 146px;
  height: 39px;
  -ms-transform: rotate(0.0deg);
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(270.0deg);
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(270.0deg);
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Rectangle_48 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Rich_text_80 {
  -ms-transform: rotate(0.0deg);
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5fd9657e-e1f9-4d88-8600-2952474a7b39 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}