#s-651befb9-ae58-4c50-a1d3-47c15a14783b #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-651befb9-ae58-4c50-a1d3-47c15a14783b #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-651befb9-ae58-4c50-a1d3-47c15a14783b #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-651befb9-ae58-4c50-a1d3-47c15a14783b #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-651befb9-ae58-4c50-a1d3-47c15a14783b #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-651befb9-ae58-4c50-a1d3-47c15a14783b #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-651befb9-ae58-4c50-a1d3-47c15a14783b #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=23) ;
  filter: alpha(opacity=23) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-651befb9-ae58-4c50-a1d3-47c15a14783b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-651befb9-ae58-4c50-a1d3-47c15a14783b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-651befb9-ae58-4c50-a1d3-47c15a14783b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}