#s-712849d0-8fa7-4851-8162-bc208ff835df #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=23) ;
  filter: alpha(opacity=23) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-712849d0-8fa7-4851-8162-bc208ff835df #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-712849d0-8fa7-4851-8162-bc208ff835df #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-712849d0-8fa7-4851-8162-bc208ff835df #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-712849d0-8fa7-4851-8162-bc208ff835df #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-712849d0-8fa7-4851-8162-bc208ff835df #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-712849d0-8fa7-4851-8162-bc208ff835df #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-712849d0-8fa7-4851-8162-bc208ff835df #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-712849d0-8fa7-4851-8162-bc208ff835df #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-712849d0-8fa7-4851-8162-bc208ff835df #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-712849d0-8fa7-4851-8162-bc208ff835df #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-712849d0-8fa7-4851-8162-bc208ff835df #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-712849d0-8fa7-4851-8162-bc208ff835df #s-Image_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-712849d0-8fa7-4851-8162-bc208ff835df > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}