#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=23);
  filter: alpha(opacity=23);
  -ms-transform: rotate(0.0deg);
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 146px;
  height: 39px;
  -ms-transform: rotate(0.0deg);
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}