#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=23) ;
  filter: alpha(opacity=23) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d3dbb0fb-af7b-4c32-898d-9f09b2673f32 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}