#s-e8a3de70-de5a-4d79-b66d-b90309a59ebd #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=23) ;
  filter: alpha(opacity=23) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8a3de70-de5a-4d79-b66d-b90309a59ebd #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8a3de70-de5a-4d79-b66d-b90309a59ebd #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8a3de70-de5a-4d79-b66d-b90309a59ebd #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8a3de70-de5a-4d79-b66d-b90309a59ebd #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8a3de70-de5a-4d79-b66d-b90309a59ebd #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8a3de70-de5a-4d79-b66d-b90309a59ebd #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8a3de70-de5a-4d79-b66d-b90309a59ebd #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8a3de70-de5a-4d79-b66d-b90309a59ebd #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8a3de70-de5a-4d79-b66d-b90309a59ebd #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8a3de70-de5a-4d79-b66d-b90309a59ebd #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8a3de70-de5a-4d79-b66d-b90309a59ebd #s-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8a3de70-de5a-4d79-b66d-b90309a59ebd #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e8a3de70-de5a-4d79-b66d-b90309a59ebd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}